[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "==19.10b0"
pylint = "*"
pre-commit = "*"

[packages]
pyephem = "*"
skyfield = "*"
fastapi = "*"
uvicorn = "*"
jinja2 = "*"

[scripts]
format = "black iss"
lint = "pylint -j 0 -d R,C iss"
test = "pytest"
server = "uvicorn iss.server:app"

[requires]
python_version = "3.8"
