{% extends "base.html" %}

{% block content %}
<table class="ba tl pa1">
    <tr class="ba tc pa1 f3">
        <th colspan="2">Rise</th>
        <th colspan="4">Culminate</th>
        <th colspan="2">Set</th>
    </tr>
    <tr class="pa1 f4">
        <th>Time</th>
        <th>Azimuth</th>
        <th>Time</th>
        <th>Azimuth</th>
        <th>Elevation</th>
        <th>Distance</th>
        <th>Time</th>
        <th>Azimuth</th>
    </tr>
    {% for pred in predictions %}
    <tr class="pa1">
        <td>{{ pred.rise.time }}</td>
        <td>{{ pred.rise.azimuth }}</td>
        <td>{{ pred.culminate.time }}</td>
        <td>{{ pred.culminate.azimuth }}</td>
        <td>{{ pred.culminate.degrees }}</td>
        <td>{{ pred.culminate.distance }}</td>
        <td>{{ pred.set.time }}</td>
        <td>{{ pred.set.azimuth }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}
